/* Global Styles */
:root {
  --orange: #ff5a00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5,
h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

/* Navbar */

#navbarNav {
  justify-content: flex-end;
}

.navbar {
  background: black;
  z-index: 100;
}

.navbar a {
  color: var(--orange);
  font-size: 2rem;
  border-radius: 20px;
}

.nav-link {
  padding: 10px;
  margin: 0 30px;
}

.navbar a:hover {
  background-color: var(--orange);
  color: white;
  transition: 0.3s ease-in-out;
}

/* Hero */

.hero {
  display: flex;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  height: 91vh;
  background-image: url(/img/heroimg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 10px solid var(--orange);
  border-top: 10px solid var(--orange);
}

.hero-text {
  display: flex;
  text-align: center;
  background-color: black;
  width: 100%;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  border-top: solid white 10px;
  border-bottom: solid white 10px;
}

.orange {
  color: var(--orange);
}

.pro {
  text-decoration: underline;
}

/* About Me */
.aboutme {
  background: #010101;
  color: white;
  padding: 5rem 5rem;
  border-bottom: var(--orange) solid 10px;
}

.aboutme-main {
  text-align: center;
  line-height: 2;
}

.aboutme-main p {
  font-size: 1.5rem;
}

.aboutme-heading {
  padding-bottom: 2.5rem;
}

.interests {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5rem 0rem;
}

.interest {
  display: flex;
  flex: 25%;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.icon {
  padding: 3rem 0;
  transition: all 0.3s ease-in-out;
}

.icon:hover,
.skill-icon:hover {
  transform: scale(1.3);
  color: var(--orange);
}

/* employment section */

.employment {
  display: flex;
  flex-direction: row;
  padding: 5rem;
  min-height: 80vh;
  text-align: left;
  border-bottom: 10px solid var(--orange);
  flex-wrap: wrap;
}

.exployment-text {
  display: flex;
  flex: 5;
  justify-content: center;
  align-items: center;
}

.skills {
  display: flex;
  flex: 5;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-icon {
  padding: 5rem;
  transition: all 0.3s ease-in-out;
}

.job {
  padding: 5rem 0rem;
}
/* MEDIA QUERIES */
