/* Global Styles */
:root {
  --orange: #ff5a00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5,
h6 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

/* Navbar */

#navbarNav {
  justify-content: flex-end;
}

.navbar {
  background: black;
  z-index: 100;
  box-shadow: #ff5a00 10px 10px 10px;
}

.navbar a {
  color: var(--orange);
  font-size: 2rem;
  border-radius: 20px;
}

.nav-link {
  padding: 10px;
  margin: 0 30px;
}

.navbar a:hover {
  background-color: var(--orange);
  color: white;
  transition: 0.3s ease-in-out;
}

/* Hero */

.hero {
  display: flex;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(/img/heroimg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-text {
  display: flex;
  text-align: center;
  background-color: black;
  width: 100%;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  border-top: solid white 10px;
  border-bottom: solid white 10px;
}

.orange {
  color: var(--orange);
}

.pro {
  text-decoration: underline;
}

/* About Me */
.aboutme {
  background: black;
  color: white;
  padding: 5rem;
}

.aboutme-main {
  text-align: center;
}

.interests {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

.interest {
  display: flex;
  flex: 25%;
  flex-direction: column;
}

/* MEDIA QUERIES */
