/* Imports and vars */

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Ubuntu:wght@400;700&display=swap");

:root {
  --text-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  --orange: #ff5a00;
  --arvo-font: "Arvo", serif;
  --bebas-font: "Bebas Neue", cursive;
  --ubuntu-font: "Ubuntu", sans-serif;
}
/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--ubuntu-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-family: var(--bebas-font);
}

hr {
  height: 20px;
  margin: 0 47%;
  border-top: black dotted 10px;
  opacity: 0.8;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

/* Section design */

/* Navbar */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.5rem;
  background-color: grey;
  min-height: 10vh;
}

.nav-logo {
  display: flex;
  flex: 1 1 50%;
  font-size: 2rem;
  font-family: var(--bebas-font);
  font-weight: lighter;
  letter-spacing: 5px;
}

.nav-list {
  display: flex;
  flex: 1 1 50%;
  justify-content: flex-end;
  align-items: center;
  height: 63px;
}

nav a {
  font-size: 2rem;
}

.nav-item {
  display: flex;
  margin: 0 2.5rem;
}

/* Hero Section */

.hero {
  background-image: url(img/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  min-height: 90vh;
  padding: 0 2.5rem;
  display: flex;
  flex-wrap: wrap;
  line-height: 2;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 15%;
  left: 15%;
}

.hero-text h1 {
  font-size: 10rem;
  color: white;

  text-shadow: var(--text-shadow);
}

.hero-text h2 {
  font-size: 4rem;
  color: white;
}

.contact-btn {
  margin-top: 100px;
  padding: 16px 50px;
  font-size: 2.5rem;
  background-color: transparent;
  border: white 1px solid;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.contact-btn a {
  color: white;
}

.contact-btn:focus {
  outline: none;
}

.contact-btn:active {
  transform: scale(0.98);
}

.contact-btn:hover {
  background-color: gray;
}

.pro {
  color: var(--orange);
  text-decoration: underline;
}

/* About me section */

.aboutme {
  min-height: 80vh;
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.aboutme-text {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem;
  line-height: 2.5rem;
}

.aboutme-heading {
  font-size: 5rem;
  margin: 50px 0;
}

.aboutme-interests {
  display: flex;
  flex: 1 1 50%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 2.5rem;
}

.icon-heading {
  font-size: 2rem;
}
.aboutme-card {
  text-align: center;
}

.card-text {
  margin-top: 30px;
  font-size: 1.5rem;
}

.aboutme-icon {
  transition: all 0.3s ease-in-out;
}

.aboutme-icon:hover {
  color: var(--orange);
  transform: scale(1.3);
}

/* Skills */
.skills {
  padding: 2.5rem;
  text-align: center;
}

.skills-heading {
  font-size: 5rem;
  margin: 50px 0;
}

.skills-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill-card {
  text-align: center;
  line-height: 2;
  margin: 30px 0;
  flex: 20%;
  padding: 2rem;
}

.skill-card p {
  font-size: 1.5rem;
  margin-top: 5px;
}

.skill-icon {
  transition: all 0.4s ease-in-out;
}

.skill-icon:hover {
  transform: scale(1.4);
}

.fa-star {
  color: var(--orange);
}

.html-icon {
  color: #fc490b;
}

.css-icon {
  color: #167dbe;
}

.js-icon {
  color: #f7df1e;
}

.node-icon {
  color: #689f63;
}

.java-icon {
  color: #73a1fb;
}

.bootstrap-icon {
  color: #8211fa;
}

.react-icon {
  color: #61dbfb;
}

.cl {
  font-style: italic;
}

/* projects */

.projects {
  padding: 2.5rem;
}
.project-heading {
  text-align: center;
  font-size: 3rem;
}

.projects-icons {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
}

.projects-container {
  display: flex;
}

.project-gallery-img {
  display: flex;
  height: 100px;
  width: 100px;
  background-color: #fc490b;
  border-radius: 20px;
  cursor: pointer;
  margin: 20px;
}

.box {
  height: 200px;
  width: 200px;
  background-color: blue;
}

.projects-images {
  display: flex;
  flex: 5;
  align-items: center;
  justify-content: center;
}

/* Javascript Classes */

.hidden {
  display: none;
}
