.aboutme-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.aboutme-text {
  display: flex;
  flex: 50%;
  justify-content: center;
  align-items: center;
  line-height: 3;
  background-color: rgb(19, 19, 19);
  padding: 2.5rem;
}

.hobbies {
  display: flex;
  flex: 50%;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(19, 19, 19);
  padding: 2.5rem;
  height: 100%;
}

.hobby {
  text-align: center;
  color: $orange;
}
.hobby p {
  font-size: 2rem;
  margin: 10px;
}

.hobby-icon {
  font-size: 5rem;
}
