.aboutme-container {
  display: flex;
  flex: 50%;
  flex-direction: row;
}

.aboutme-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 50%;
  padding: 2.5rem;
  line-height: 2.5rem;
}

.aboutme-interests {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex: 50%;
  padding: 2.5rem;
}

.icon-heading {
  font-size: 2rem;
}
.aboutme-card {
  text-align: center;
}

.card-text {
  margin-top: 30px;
  font-size: 1.5rem;
}

.aboutme-icon {
  transition: all 0.3s ease-in-out;
}

.aboutme-icon:hover {
  color: $orange;
  transform: scale(1.3);
}
