footer {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  h2 {
    margin: 20px;
    text-align: center;
  }
}

.footer-icons {
  margin: 20px;
}

.footer-icon {
  margin: 0 20px;
  color: white;
}

.footer-icon:hover {
  color: $orange;
}
