.hero {
  display: flex;
  background-color: black;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 0 2.5rem;
  line-height: 2;
}

.hero-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero-text h1 {
  font-size: 10rem;
  color: white;
}

.hero-text h2 {
  font-size: 4rem;
  color: white;
}

.contact-btn {
  margin-top: 100px;
  margin: 100px auto 0 auto;
  padding: 15px 0;
  width: 50%;
  font-size: 2.5rem;
  background-color: transparent;
  border: white 1px solid;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.contact-btn a {
  color: white;
}

.contact-btn:focus {
  outline: none;
}

.contact-btn:active {
  transform: scale(0.98);
}

.contact-btn:hover {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 1px solid transparent;
}

.orange {
  color: $orange;
  text-decoration: underline;
}

.hero-icons {
  margin-top: 40px;
}

.hero-icons a {
  color: white;
}

.hero-icon {
  margin: 0 10px;
  transition: color 0.2s ease-in-out;
}

.hero-icon:hover {
  color: $orange;
}
