.burger {
  display: none;
}

@media (max-width: 780px) {
  // General

  .header {
    font-size: 3.5rem;
  }

  .container {
    padding: 0.5rem;
  }

  .section {
    padding: 1rem;
  }

  // NAV

  nav {
    flex-direction: column;
    position: fixed;
    background-color: #111111;
    border: 2px solid $orange;
    border-radius: 20px;
    margin: 5px;
    z-index: 10;
  }

  .burger {
    display: block;
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: $orange;
  }
  .nav-list {
    display: none;
  }

  .nav-list.shown {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  // HERO
  .hero-text {
    h1 {
      font-size: 5rem;
    }
    h2 {
      font-size: 4rem;
    }

    button {
      margin-top: 30px;
      font-size: 2rem;
    }
  }

  // ABOUT
  .aboutme-text {
    padding: 1rem;
  }

  .hobbies {
    flex-wrap: wrap;
  }

  .hobby {
    flex: 50%;
    margin: 2px;
  }

  // skills

  .skills-container {
    padding: 0rem;
  }

  .skill-icon {
    display: flex;
    flex: 50%;
    padding: 1rem;
  }

  // projects
  .projects-text {
    line-height: 1.5;

    h2 {
      margin-bottom: 30px;
    }

    i {
      margin: 50px;
    }
  }

  // Form
  .form-container {
    width: 100%;
    padding: 0;
  }

  .contact {
    margin-bottom: 2.5rem;
  }

  form {
    width: 90%;
    padding: 0.5rem;
    input,
    textarea {
      width: 100%;
      padding: 1rem;
      font-size: 1rem;
    }

    .send-btn {
      font-size: 1.5rem;
      padding: 1rem;
    }
  }
}

@media (max-width: 360px) {
  .hero-text {
    line-height: 1.5;
  }
}
