nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 2.5rem;
  background-color: grey;
  min-height: 10vh;
  flex: 50%;
}

.nav-logo {
  display: flex;
  font-size: 2rem;
  font-family: $bebas-font;
  font-weight: bolder;
  letter-spacing: 5px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.burger {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.burger:focus {
  outline: none;
}

nav a {
  font-size: 2rem;
}

.nav-item {
  margin: 0 2.5rem;
}
