nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  min-height: 10vh;
}

.nav-list {
  color: white;
  display: flex;
}

nav a {
  font-size: 2rem;
  color: white;
}

.nav-item {
  margin: 0 2rem;
}
