.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.projects-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
}

.project-gallery-img img {
  display: flex;
  height: 100px;
  width: 100px;
  border-radius: 20px;
  cursor: pointer;
  margin: 20px;
  border: gray solid 5px;
}

.projects-videos {
  display: flex;
  flex: 5;
  align-items: center;
  justify-content: center;
}

.video {
  height: 70vh;
  width: auto;
  border: 10px solid black;
  border-radius: 20px;
}
