@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Ubuntu:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #111111;
  color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Bebas Neue", cursive;
}

hr {
  height: 20px;
  border: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
}

.nav-list {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav a {
  font-size: 2rem;
  color: white;
}

.nav-item {
  margin: 0 2rem;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  padding: 0 2.5rem;
  line-height: 2;
}

.hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.hero-text h1 {
  font-size: 10rem;
  color: white;
}

.hero-text h2 {
  font-size: 4rem;
  color: white;
}

.contact-btn {
  margin-top: 100px;
  margin: 100px auto 0 auto;
  padding: 15px 0;
  width: 50%;
  font-size: 2.5rem;
  background-color: transparent;
  border: white 1px solid;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact-btn a {
  color: white;
}

.contact-btn:focus {
  outline: none;
}

.contact-btn:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.contact-btn:hover {
  background: #f12711;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#f5af19), to(#f12711));
  background: linear-gradient(to right, #f5af19, #f12711);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 1px solid transparent;
}

.orange {
  color: #ff5a00;
  text-decoration: underline;
}

.hero-icons {
  margin-top: 40px;
}

.hero-icons a {
  color: white;
}

.hero-icon {
  margin: 0 10px;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.hero-icon:hover {
  color: #ff5a00;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1a1a1a;
  border-radius: 20px;
  border: 10px solid #1a1a18;
}

.aboutme-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 3;
  padding: 2.5rem;
}

.hobbies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem;
  height: 100%;
}

.hobby {
  text-align: center;
  color: #ff5a00;
}

.hobby p {
  font-size: 2rem;
  margin: 10px;
}

.hobby-icon {
  font-size: 5rem;
}

.skill-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 5rem;
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.skill-icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.html-icon {
  color: #e86229;
}

.css-icon {
  color: #254bdf;
}

.js-icon {
  color: #d3b32b;
}

.node-icon {
  color: #87bf00;
}

.sass-icon {
  color: #cf649a;
}

.react-icon {
  color: #5ed3f3;
}

.database-icon {
  color: #01588b;
}

.java-icon {
  color: #e51f24;
}

.section {
  padding: 2.5rem;
  min-height: 80vh;
}

.header {
  text-align: center;
  font-size: 5rem;
  padding: 2.5rem;
}

.hidden {
  display: none;
}

.active {
  display: block;
}

.burger {
  cursor: pointer;
}

.transition-fade {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}
/*# sourceMappingURL=styles.css.map */