@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Ubuntu:wght@400;700&display=swap");

$text-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
$orange: #ff5a00;
$arvo-font: "Arvo", serif;
$bebas-font: "Bebas Neue", cursive;
$ubuntu-font: "Ubuntu", sans-serif;

// Helper classes

.section {
  padding: 2.5rem;
  min-height: 80vh;
}

.header {
  text-align: center;
  font-size: 5rem;
  padding: 2.5rem;
  background: #f12711;
  background: -webkit-linear-gradient(to right, #f12711 0%, #f5af19 100%);
  background: -moz-linear-gradient(to right, #f12711 0%, #f5af19 100%);
  background: linear-gradient(to right, #f12711 0%, #f5af19 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@import "global";
@import "nav";
@import "hero";
@import "about-me";
@import "skills";
@import "projects";
@import "contact";
@import "footer";
@import "media-queries";
