@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Ubuntu:wght@400;700&display=swap");

$text-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
$orange: #ff5a00;
$arvo-font: "Arvo", serif;
$bebas-font: "Bebas Neue", cursive;
$ubuntu-font: "Ubuntu", sans-serif;

@import "global";
@import "nav";
@import "hero";
@import "about-me";
@import "skills";
@import "projects";
@import "contact";
@import "footer";

.section {
  background-color: white;
  padding: 2.5rem;
  border-radius: 20px;
  margin: 20px;
}

.header {
  text-align: center;
  font-size: 5rem;
  padding: 2.5rem;
}

.hidden {
  display: none;
}

.active {
  display: block;
}

.burger {
  cursor: pointer;
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}
